.mainContent {
  h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.15px;
    font-family: 'Inter';
    margin-bottom: 16px;
  }

  .sectionToggleBtns {
    display: none;
    margin-top: 13px;

    button {
      background: none;
      border: none;
      color: #1d1d1b;
      font-family: 'Inter';
      font-size: 16px;
      font-weight: 600;
      width: 102px;
      height: 40px;

      &.active {
        color: #bb1e1e;
        background: #efe0e3;
        border-radius: 20px;
      }
    }
  }
}