header {
  width: 100%;
  border-bottom: 1px solid #d8d8d8 !important;
  height: 113px;
  display: flex !important;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: relative;

  .logo {
    position: absolute;
    font-size: 32px;
    font-weight: 900;
    line-height: 113px;
    left: 0;

    a {
      font-family: "InterBlack";
      color: #bb1e1e;
      text-decoration: none;
    }

    .clr {
      color: #1d1d1b;
    }
  }

  .inputHolder {
    width: 725px;
    background: #fff;
    border-radius: 8px;
    position: relative;

    input {
      width: 630px;
      line-height: 50px;
      background: #fff;
      color: #777;
      font-family: "InterMedium";
      font-size: 15px;
      outline: none;
      border-radius: 8px 0 0 8px;
      background: url('/assets/svgs/search.svg') no-repeat;
      background-position: 15px;
      padding-left: 50px;
      border: none;
      background-size: 21px 100px;
    }

    button {
      background: #bb1e1e;
      color: #fff;
      font-family: "InterBold";
      width: 95px;
      height: 40px;
      border-radius: 6px;
      text-transform: uppercase;
      position: absolute;
      top: 5px;
      right: 5px;
      border: none;
      cursor: pointer;
    }
  }
}